h1{font-size: 50px;
   display: flex;
   justify-content: center;
   color: blue
}
h2{font-size: 30px}

#home{
   display: flex;
   justify-content: flex-start
}

#favourites{
   display: flex;
   justify-content: flex-start
}
