h1{font-size: 50px;
   display: flex;
   justify-content: center;
   background-color: 00A9FF;
   color: white
}
h2{font-size: 30px}

#home{
   display: flex;
   justify-content: flex-start
}

#favourites{
   display: flex;
   justify-content: flex-start
}

p {
   color: red
}

#azul{
   color: blue
}

#rojo{
   color: red
}
